# Environments
*.yaml
*.env

# Workspace configuration
.vscode

# Log files
logs/log.txt

# Packages
go.sum

# air hot reload
tmp

# Application Cert
cert

# Server TLS/SSL Certificate
server.crt
server.key

# Dockerfiles - with creds
docker/priv.docker-compose.yml
