# Environments
*.env

# Swagger
swagger.yaml

# Workspace configuration
.vscode

# Log files
logs/log.txt

# air hot reload
tmp

# Application Cert
cert

# Server TLS/SSL Certificate
server.crt
server.key

# Dockerfiles - with creds
priv.docker-compose.yml
